[push]
  default = current
[color]
  ui = true
  status = auto
[user]
  email = votantho93@gmail.com
  name = Tho Vo
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
	pager = git-split-diffs --color | less -RFX
[rebase]
  autosquash = true
[merge]
  autosquash = true
  tool=vimdiff
[alias]
  tree = log --oneline --decorate --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  committree = log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} \"$@\");};f"
[status]
	showUntrackedFiles = all
