[push]
	default = current
[color]
	ui = auto
[user]
	email = votantho93@gmail.com
	username = tho.vo
	name = kensupermen
[core]
	excludesfile = $HOME/.gitignore_global
[rebase]
	autosquash = true
[alias]
	tree = log --oneline --decorate --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
