[push]
  default = current
[color]
  ui = true
  status = auto
[user]
  email = votantho93@gmail.com
  name = thorvn
[init]
	defaultBranch = main
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim --clean
  pager = delta
[interactive]
    diffFilter = delta --color-only
[rebase]
  autosquash = true
[diff]
	algorithm = histogram    # Clearer diffs on moved/edited lines
	colorMoved = plain       # Highlight moved blocks in diffs
	mnemonicPrefix = true    # More intuitive refs in diff output
[merge]
  autosquash = true
  tool=vimdiff
  conflictstyle = zdiff3
[fetch]
  prune = true
[alias]
  treeall = log --oneline --all --decorate --graph --pretty=format:'%Cred%h%Creset %C(auto, bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  tree = log --oneline --decorate --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  committree = log --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} \"$@\");};f"
[status]
	showUntrackedFiles = all
[include]
  path = ~/.config/delta/themes.gitconfig
[delta]
  features = zebra-dark
  true-color = always
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  dark = true
  relative-paths = true
  syntax-theme = Dracula
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[pull]
	rebase = true
[commit]
	verbose = true           # Include diff comment in commit message template
[column]
	ui = auto 			     # Output in columns when possible
[branch]
	sort = -committerdate    # Sort branches by most recent commit first
[tag]
	sort = -version:refname  # Sort version numbers as you would expect
[rerere]
	enabled = true           # Record and reuse conflict resolutions
	autoupdate = true        # Apply stored conflict resolutions automatically
